body{
    margin: 0;
}

.navbar{
    background-color: #6170BD;
    color: white;
}

.header_img {
        position: relative;
        display: table;
        width: 100%;
        height: 100vh;
        padding-top: 8rem;
        padding-bottom: 8rem;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/3766395.jpg") ;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
}

.footer-color{ 
    background-color: #6170BD;
}

.section-titulo{
    height: 7rem;
    text-align: center;
}

.titulo-cuidadores{
    color: #6170BD;
}

.cards-cuidadores{
    margin: 4rem;
}

.titulo-nosotros{
    color: #6170BD;
}

.texto-nosotros{
    color: #6170BD;
}

.texto-perfil{
    color: #6170BD;
}
